
<div class="dashboard">
	<% unless current_user %>
    <%= render "portal" %>
  <% end %>
	
	<% if flash[:errors] && !flash[:errors].empty? %>
	  <% flash[:errors].each do |error| %>
	    <p class="errors"><%= error %></p>
	  <% end %>
	<% end %>
	
	
	<div class="tagline">
		<h3>create your own</h3>
		<h2>Fotosfeer</h2> 
	</div>
	
	<div class="above_form" id="demo">Demo Login</div>
	<div id="portal_form">
		<%= render "shared/portal_form", action: session_url, value: "Login" %>
		<%= link_to "Create an account!", new_user_url %>
		<%= link_to "Forgot your password?", new_password_reset_url %>
	</div>
	
	<div id="sign_up_form">
		<%= render "shared/portal_form", action: users_url, value: "Sign Up" %>
	</div>
</div>

<div class="background_container group">
	<% @photos.each do |photo| %>	
		<div class="portal_background" style="background-image: url(<%= photo.image.url %>)">
		</div>
	<% end %>
</div>

<script>
	$(document).ready(function(){
		$("#demo").click(function(){
			$("#email_field").val("dale.um@gmail.com")
			$("#password_field").val("password")
			$("#login_button").trigger("click")
		});
		
		$('.fancybox').fancybox({
			helpers: {
				overlay: {
					css: {'background' : 'rgba(7, 0, 2, 0.90)'}
				}
			}
		});
		
		$('.login_box').click(function(event){
			event.preventDefault();
			$.fancybox("#portal_form")
		})
		
		$('.sign_up_box').click(function(event){
			event.preventDefault();
			$.fancybox("#sign_up_form")
		})
		
		setInterval(function(){
			<% ["100%", "200%", "300%", "400%"].each do |percent| %>
				$(".background_container").animate({'right': "<%= percent %>"}, { "duration": 400, "easing": "linear" }).delay(8000)
			<% end %>

			$(".background_container").animate({'right': "0px"}, { "duration": 400, "easing": "linear" }).delay(8000)
		}, 8000);
	})
	
</script>






