<h1>Upload a Photo!</h1>

<%= form_for @photo, url: user_photos_url do |f| %>

  <%= f.label :Title %>:
  <%= f.text_field :title %><br />

  <%= f.label :Description %>:
  <%= f.text_field :description %><br />

  <%= f.label :Latitude %>:
  <%= f.text_field :latitude %><br />

  <%= f.label :Longitude %>:
  <%= f.text_field :longitude %><br />

  <%= f.file_field :image %><br />

  <%= f.submit %>

<% end %>



<!-- <form action="<%= photos_url %>", action="post" enctype="multipart/form-data">
  <input type="hidden"
         name="authenticity_token"
        value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="photo[name]">
  </label>

  <label>Description
    <textarea name="photo[description]"></textarea>
  </label>

  <label>Latitude
    <input type="text" name="photo[latitude]">
  </label>

  <label>Longitude
    <input type="text" name="photo[latitude]">
  </label>

  <input type="hidden" name="Upload Photo!">



</form> -->