<section class="photo_show">

  <section class="photo_object">
    <h1>Title: <%= @photo.title %></h1>

    <div class="image_show" >
      <%= image_tag @photo.image.url %>
    </div>

    <p>Description: <%= @photo.description %></p>

    <div class="image_show_votes">
      <%= button_to "Upvote", upvote_photo_url, method: :post, class: "vote_button" %>
      <%= button_to "Downvote", downvote_photo_url, method: :post, class: "vote_button" %>
      <p>Vote Count: <%= @photo.uservotes.sum("value") %></p>
    </div>

    <div class="comments">
      <%= link_to "Post a new comment", new_photo_comment_url(@photo.id) %>
      <h4>Comments:</h4>
      <ul>
        <% comments_by_parent = @photo.comments_by_parent_id %>
        <% comments_by_parent[nil].each do |top_level_comment| %>
          <li>
            <%= render "comment", photo: @photo, top_level_comment: top_level_comment, comments_by_parent: comments_by_parent %>
          </li>
        <% end %>
      </ul>
    </div>

  </section>

  <div class="browse_buttons">
    <a href="<%= photo_url(@photo.id-1) %>"><p>Prev</p></a>
    <a href="<%= photo_url(@photo.id+1) %>"><p>Next</p></a>
  </div>

  <div class="favorite_buttons">

    <% params[:photo] = {} %>
    <% params[:photo][:is_favorite] = {} %>

    <% if @photo.is_favorite == false %>
      <%= button_to "Favorite", photo_url({id: @photo.id, photo: {is_favorite: true}}), method: :put %>
    <% else %>
      <%= button_to "Unfavorite", photo_url({id: @photo.id, photo: {is_favorite: false}}), method: :put %>
    <% end  %>

  </div>

  <div class="standard_map">
    <img src="<%= @photo.static_page %>">
  </div>

</section>