<h1><%= @photo.title %></h1>
<img src="<%= @photo.image.url %>"><br>
<p><%= @photo.description %></p>
<p>Latitude: <%= @photo.latitude.to_f %></p>
<p>Longitude: <%= @photo.longitude.to_f %></p>

<ul>
  <% comments_by_parent = @photo.comments_by_parent_id %>
  <% comments_by_parent[nil].each do |top_level_comment| %>
    <li>
      <%= render "comment", top_level_comment: top_level_comment, comments_by_parent: comments_by_parent %>
    </li>
  <% end %>
</ul>
