<section class="photo_show">

  <section class="photo_object">
    <h1>Title: <%= @photo.title %></h1>

    <div class="image_show" >
      <%= image_tag @photo.image.url %>
    </div>

    <p>Description: <%= @photo.description %></p>

    <%= link_to "Post a new comment", new_photo_comment_url(@photo.id) %>

    <div class="comments">
      <h4>Comments:</h4>
      <ul>
        <% comments_by_parent = @photo.comments_by_parent_id %>
        <% comments_by_parent[nil].each do |top_level_comment| %>
          <li>
            <%= render "comment", photo: @photo, top_level_comment: top_level_comment, comments_by_parent: comments_by_parent %>
          </li>
        <% end %>
      </ul>
    </div>

  </section>

  <div class="browse_buttons">
    <a href="<%= photo_url(@photo.id-1) %>"><p>Prev</p></a>
    <a href="<%= photo_url(@photo.id+1) %>"><p>Next</p></a>
  </div>

  <div class="standard_map">
    <img src="<%= @photo.static_page %>">
  </div>

</section>