<header>
  <nav class="signed_in">
    <div id="home_link">
      <a href="<%= photos_url %>"><p>imgUm</p></a>
    </div>

    <div id="nav_buttons">
      <div id="image_upload">
        <a href="<%= new_user_photo_url(self.current_user.id) %>"><p>Upload Image</p></a>
      </div>

      <div id="username">
        <p><%= self.current_user.username %></p>
        <ul id="username_dropdown">
          <li><%= link_to "My Favorites", favorites_user_url(self.current_user.id) %></li>
          <li><%= link_to "My Images", uploaded_images_user_url(self.current_user.id) %></li>
          <li>My Locations</li>
          <li><%= button_to "Logout", session_url, method: :delete %></li>
        </ul>
      </div>


    </div>

  </nav>
</header>