<div id="edit-form" style="display:none">
	
	<input type="text" id="edit-name" name="photo[name]"></input>
	
	<div id="edit-form-photo">
	</div>
	
	<textarea name="photo[description]" id="edit-description">

	</textarea>
	
	<input type="submit" value="Delete Photo" id="edit-delete-button"></input> 
	
</div>

<div id="messages" style="display:none">
	<p>Updated!</p>
</div>


<div class="white_space">

	<header class="my_images_header">
		<p>My Images</p>
	</header>

	<div class="images_index">
		<% _.each(photos.models, function(obj, index){ %>
			<% if (index === 0) { %> 
			
				<div class="photo_row">
					<figure class="photo_grid_cell">
						<a href="#" class="myImageEdit" data-id="<%= obj.escape('id') %>"><img src="<%= obj.escape('image_url') %>"></a>
					</figure>
				
			<% } else if (index % 4 === 0) { %>
			
					</div>
					<div class="photo_row">
						<figure class="photo_grid_cell">
							<a href="#" class="myImageEdit" data-id="<%= obj.escape('id') %>"><img src="<%= obj.escape('image_url') %>"></a>
						</figure>
					
			<% } else { %>
			
					<figure class="photo_grid_cell">
						<a href="#" class="myImageEdit" data-id="<%= obj.escape('id') %>"><img src="<%= obj.escape('image_url') %>"></a>
					</figure>
				
			<% }  %>
		<% }); %>
	</div>
</div>


